body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}


header {
    background-color: firebrick;
    padding: 20px;
}

.headerText {
    color: #fff;
    font-size: 24px;
}

.content {
    display: flex;
    flex: 1;
}

nav {
    min-width: 200px;
    background-color : #666;
    padding: 10px 0;
}

nav ul,
nav li {
    margin: 0;
    padding: 0;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    display: block;
    text-align: center;
    padding: 10px;
    border-bottom: 2px groove #000;
}

nav li:last-child a {
    border-bottom: 0;
}

.main {
    padding: 20px;
    background-color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
}