/* line 3, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
body {
  background-color: #fff; }

/* line 7, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
.park {
  width: 800px;
  height: 800px;
  background-color: forestgreen;
  margin: 0 auto;
  border-radius: 10px;
  position: relative; }

/* line 16, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
.field {
  overflow: hidden;
  width: 750px;
  height: 750px;
  background-color: transparent;
  position: absolute;
  left: 50px; }

/* line 26, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
.infield {
  background-color: #987644;
  width: 350px;
  height: 350px;
  position: absolute;
  bottom: 0;
  z-index: 2; }
  /* line 34, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
  .infield .infieldGrass {
    background: green;
    width: 340px;
    height: 340px;
    left: 15px;
    position: relative;
    bottom: 5px; }

/* line 44, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
.bag {
  width: 14px;
  height: 14px;
  background-color: #fff;
  position: absolute; }

/* line 51, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
.firstsecond {
  width: 800px;
  height: 800px;
  background: #987644;
  position: absolute;
  bottom: -270px;
  border-radius: 1000px;
  z-index: 1;
  left: -270px; }

/* line 62, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
.homePlate {
  background: #987644;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 3;
  border-radius: 50px; }
  /* line 72, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
  .homePlate .bag {
    top: 24px;
    left: 30px; }

/* line 84, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
.firstBase, .secondBase, .thirdBase {
  background-color: #987644;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  z-index: 3;
  right: -30px;
  bottom: -10px; }
  /* line 94, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
  .firstBase .bag, .secondBase .bag, .thirdBase .bag {
    left: 25px;
    top: 17px; }

/* line 100, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
.secondBase {
  bottom: 325px;
  right: -30px; }
  /* line 104, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
  .secondBase .bag {
    top: 10px;
    left: 26px; }

/* line 110, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
.thirdBase {
  left: -10px;
  bottom: 330px; }
  /* line 114, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
  .thirdBase .bag {
    display: none; }

/* line 120, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
.thirdBaseLine, .firstBaseLine {
  width: 2px;
  height: 1000px;
  position: absolute;
  z-index: 4;
  background: #fff; }

/* line 128, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
.thirdBaseLine {
  bottom: 17px;
  left: 6px; }

/* line 134, E:/Projects/weblabSpring2015/html_week_2/work/diamond/scss/style.scss */
.firstBaseLine {
  width: 1000px;
  height: 2px;
  bottom: 7px;
  left: 5px; }
/*# sourceMappingURL=style.css.map */